// Font Colors
$primary-dark-font-color: #323232;
$primary-light-font-color: #FFFFFF;
$secondary-font-color: #AFAFAF;

//Background Colors
$primary-dark-background-color: #323232;
$primary-light-background-color: #FFFFFF; 
$secondary-light-background-color: #FAFAFA;
$inactive-state-color: #E1E1E1;
$error-state: #D22D2D;