// Responsive Desgin Parameters
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$mobile-header-padding: 24px;
$mobile-padding: 16px;

$tablet-min-width: 768px;
$tablet-max-width: 1279px;
$tablet-header-padding: 48px;
$tablet-padding: 36px;

$desktop-min-width: 1280px;
$desktop-header-padding: 48px;
$desktop-padding: 36px;