@use './partials/colors' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

body {
    background-color: $primary-light-background-color;
    @include body-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @media (min-width: $tablet-min-width) {
        @include desktop-tablet-body-font;
    }
}

a {
    text-decoration: none;
    color: $primary-light-font-color;
}

// Navigation Bar
.nav-bar {
    background-color: $primary-dark-background-color;
    padding: $mobile-padding;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
        width: 120px;
        height: 20px;
        padding-bottom: $mobile-padding;
    }
    
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

        &:has(.nav-bar__list__item__link:hover) .nav-bar__list__item__link--active {
            
            border-bottom: none;
        }
    
        &__item {
            width: 50vw;
            list-style: none;
            text-align: center;

            &__link {
                @include inactive-font;
                display: block;
                padding-bottom: 12px;

                &--active {
                    @include active-font;
                    display: block;
                    padding-bottom: 12px;
                    border-bottom: 4px solid $primary-light-font-color;
                }

                &:hover {
                    @include link-hover;
                }
            }
        }
    }

    @include tablet {
        padding: $tablet-padding;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__link {
            width: 120px;
            height: 20px;
            padding-right: $tablet-gutter-padding;
            padding-bottom: 0;

            align-self: flex-start;
        }

        &__list {
            padding-left: $tablet-gutter-padding;

            &__item {
                width: auto;
                padding-right: $tablet-header-padding;

                &__link {
                    padding-bottom: $tablet-gutter-padding;

                    &--active {
                        padding-bottom: $tablet-gutter-padding;
                    }
                }
            }
        }
    }

    @include desktop {
        margin: 0;
        padding-left: 100px;
        padding-top: $desktop-header-padding;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__link {
            width: 120px;
            height: 20px;
            padding-right: $desktop-gutter-margin;
            padding-bottom: 0;

            align-self: flex-start;
        }

        &__list {
            padding-left: $desktop-gutter-margin;

            &__item {
                width: auto;
                padding-right: $desktop-header-padding;

                &__link {
                    padding-bottom: $desktop-gutter-margin;

                    &--active {
                        padding-bottom: $desktop-gutter-margin;
                    }
                }
            }
        }
    }
}

// Hero Section
.hero {
    width:auto;
    height: 50vh;

    background-image: url(../assets/Images/hero-bio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__title {
        background-color: rgba(50, 50, 50, 0.5);
        height: fill;
        width: fill;

        margin: 0;
        padding-left: $mobile-padding;
        align-content: center;
        
        @include header-font;
        color: $primary-light-font-color;
    }

    @include tablet {
        background-position: bottom;
        width: auto;
        height: 60vh;

        &__title {
            padding-left: $tablet-padding;
            @include desktop-tablet-page-header;
        }
    }

    @include desktop {
        background-size: cover;
        background-position: center;
        width: auto;
        height: 77vh;

        &__title {
            padding-left: 100px;
            @include desktop-tablet-page-header;
        }
    }
}

.about {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            @include header-font;
            color: $primary-dark-font-color;
            align-self: flex-start;
            margin: 0;
            padding-bottom: $mobile-padding;
            padding-top: $mobile-header-padding;
            padding-left: $mobile-padding;
        }

        &__photo {
            width: 90vw;
            margin: 0 $mobile-margin;
        }

        &__subtext {
            @include subheader-font;
            width: 90vw;
            padding: 0 $mobile-padding;

            &--quote {
                @include subheader-font;
                width: 90vw;
                margin: 0;
                padding: 0 $mobile-padding;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__title {
            @include subheader-font;
            width: 90vw;
            margin: 0;
            padding-top: $mobile-header-padding;
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;
        }

        &__notes {
            display: flex;
            flex-direction: column;

            &__desc {
                width: 90vw;
                align-self: center;
                margin-top: $mobile-margin;
                margin-bottom: $mobile-margin;
                padding-left: $mobile-padding;
                padding-right: $mobile-padding;
    
                &--second {
                    @extend .about__content__notes__desc;
                    width: 90vw;
                    align-self: center;
                    padding-left: $mobile-padding;
                    padding-right: $mobile-padding;
                }
            }
        }
    }

    @include tablet {
        &__header {
            &__title {
                @include desktop-tablet-section-header;
                padding: $tablet-padding;
                padding-top: $tablet-header-padding;
                align-self: flex-start;
            }

            &__photo {
                width: 75vw;
                margin: 0;
            }

            &__subtext {
                @include desktop-tablet-subheader;
                width: 75vw;
                margin: 0;
                padding: $tablet-gutter-padding;
                text-align: left;
    
                &--quote {
                    @include desktop-tablet-subheader;
                    align-self: center;
                    width: 75vw;
                    margin: 0;
                    padding: $tablet-gutter-padding;
                    padding-top: 0;
                }
            }

        }

        &__content {
            display: flex;
            flex-direction: column;

            &__title {
                @include desktop-tablet-subheader;
                width: 75vw;
                padding-left: $tablet-padding;
                padding-right: $tablet-padding;
                padding-bottom: $tablet-padding;
            }

            &__notes {
                display: flex;
                flex-direction: row;
                margin-bottom: $tablet-margin;

                &__desc {
                    margin: 0;
                    width: 37vw;
                }
            }
        }
    }
}

.photo-gallery {
    background-color: $secondary-light-background-color;
    padding: 0 $mobile-padding 0 $mobile-padding;

    &__title {
        @include header-font;
        margin: 0;
        padding: $mobile-padding;
        padding-top: $mobile-header-padding;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__image {
            width: 90vw;
            margin-bottom: $mobile-margin;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0)
            } 
        }
    }

    @include tablet {
        &__title {
            @include desktop-tablet-section-header;
            padding: $tablet-padding;
            padding-top: $tablet-header-padding;
        }

        &__box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            &__image {
                width: 26vw;
                padding-bottom: 16px;
            }
        }
    }
}

.footer {
    background-color: $primary-dark-background-color;
    color: $primary-light-font-color;

    padding: $mobile-padding;

    &__header {
        &__title {
            margin: 0;
            padding-top: $mobile-header-padding;
            padding-bottom: $mobile-header-padding;
        }

        &__icons {
            width: 30vw;
            display: flex;
            justify-content: space-between;
        }
    }

    &__info {
        &__sub {
            padding-top: $mobile-header-padding;
            
            &__head {
                margin: 0;
                @include subheader-font;
            }
            
            &__desc {
                margin: 0;
                padding: $mobile-padding 0;
            }
    
            &__link {
                padding-top: $mobile-header-padding;
                padding-bottom: 0;
            }
        }
    }

    &__watermark {
        width: 120px;
        height: 20px;
        margin-top: 48px;
    }

    &__copyright {
        margin: 0;
        padding-top: $mobile-padding;
        padding-bottom: $mobile-header-padding;
        @include body-font;
        font-size: 11px;
    }

    @include tablet {
        padding: $tablet-padding;
        padding-top: 0;

        &__header {
            display: flex;
            flex-direction: row;

            &__title {
                @include desktop-tablet-section-header;
                padding-top: $tablet-header-padding;
                padding-bottom: 0;
            }

            &__icons {
                align-self: center;
                justify-content: space-evenly;
                height: 25px;
                padding-top: $tablet-header-padding;
            }
        }

        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__sub {
                padding-top: $tablet-padding;

                &__desc {
                    padding: $tablet-gutter-padding 0;
                }
            }
        }

        &__watermark {
            width: 120px;
            height: 20px;
            padding: 0;
            margin: 0;

            position: relative;
            bottom: 12.5rem;
            left: 34.5rem;
        }
    }
}