@use './partials/colors' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

body {
    background-color: $primary-light-background-color;
    @include body-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @media (min-width: $tablet-min-width) {
        @include desktop-tablet-body-font;
    }
}

a {
    text-decoration: none;
    color: $primary-light-font-color;
}

// Navigation Bar
.nav-bar {
    background-color: $primary-dark-background-color;
    padding: $mobile-padding;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
        width: 120px;
        height: 20px;
        padding-bottom: $mobile-padding;
    }
    
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    
        &__item {
            width: 50vw;
            list-style: none;
            text-align: center;

            &__link {
                &--active {
                    display: block;
                    padding-bottom: 12px;
                    border-bottom: 4px solid $primary-light-font-color;
                }
            }
        }
    }
}