@use './partials/colors' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/global' as *;

// Hero Section
.hero {
    width:auto;
    height: auto;

    background-image: url(../assets/Images/hero-shows.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
        background-color: rgba(50, 50, 50, 0.5);
        height: fill;
        width: fill;

        margin: 0;
        padding: $mobile-padding;
        align-content: center;
        
        &__title{
            @include header-font;
            color: $primary-light-font-color;
        }

        &__desc {
            @include subheader-font;
            color: $primary-light-font-color;
        }

        &__music {
            padding-top: $mobile-padding;
            padding-bottom: $mobile-padding;
        }
    }

    @include tablet {
        background-position: bottom;
        width: auto;
        height: auto;

        &__content {
            padding: $tablet-padding;

            &__desc {
                @include desktop-tablet-subheader;
                
            }

            &__title {
                @include desktop-tablet-page-header;
                margin-top: 0;
            }
            
            &__music {
                width: 60%;
                padding-bottom: $tablet-padding;
            }
        }
    }

    @include desktop {
        background-size: cover;
        background-position: center;
        width: auto;
        height: 65vh;

        &__content {
            padding: $desktop-padding 100px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &__desc {
                @include desktop-tablet-subheader;
                
            }

            &__title {
                @include desktop-tablet-page-header;
                margin-top: 0;
            }
            
            &__music {
                width: 40%;
                padding-bottom: $desktop-padding;
            }
        }
    }
}

.shows {
    &__title {
        @include header-font;
        padding: $mobile-padding;
        margin-bottom: 0;
    }

    &__table {
        padding-bottom: $mobile-padding;
        padding-right: $mobile-padding;
        width: 100%;

        &__header {
            @include table-header-font;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-left: $mobile-padding;

            &--first {
                @extend .shows__table__header;
                padding-top: $mobile-padding;
            }
        }

        &__data {
            display: flex;
            flex-direction: column;
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;
            padding-bottom: $mobile-padding;

            &__button {
                @extend .shows__table__data;
                @include button-font;
                height: 40px;
                border-radius: 4px;
                background-color: $primary-dark-background-color;

                padding: 0;
                justify-content: center;
                align-items: center;
            }

            &--first {
                @extend .shows__table__data;
                font-family: avenir-bold;
            }

            &--last {
                @extend .shows__table__data;
                width: auto;
                border-bottom: 1px solid $inactive-state-color;
            }
        }
    }
    
}